azuredeploy-slack.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "location": {
            "type": "string",
            "defaultValue": "japaneast",
            "metadata": {
                "description": "Location for all resources."
            }
        },
        "functionAppName": {
            "type": "String",
            "metadata": {
                "description": "The name for the function app."
            }
        },
        "logicAppName": {
            "type": "String",
            "metadata": {
                "description": "The name for the logic app."
            }
        },
        "allUsersGroupId": {
            "type": "String",
            "metadata": {
                "description": "Unique identifer of a group (Ex. '40639f36-46a6-73a6-91e2-9584b7913429')."
            }
        }
    },
    "variables": {
        "connectionSlackName": "slack-connection",
        "connectionsAzureAdName": "azure-ad-connection",
        "connectionsAzureBlobName": "azureblob"
    },
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('connectionsAzureAdName')]",
            "location": "[parameters('location')]",
            "properties": {
                "displayName": "connectionsAzureAd",
                "customParameterValues": {},
                "api": {
                    "id": "[concat(subscription().id,'/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azuread')]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('connectionsAzureBlobName')]",
            "location": "[parameters('location')]",
            "properties": {
                "displayName": "connectionsAzureBlob",
                "customParameterValues": {},
                "api": {
                    "id": "[concat(subscription().id,'/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/', variables('connectionsAzureBlobName'))]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('connectionSlackName')]",
            "location": "[parameters('location')]",
            "properties": {
                "displayName": "connectionSlack",
                "customParameterValues": {},
                "api": {
                    "id": "[concat(subscription().id,'/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/', variables('connectionSlackName'))]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('logicAppName')]",
            "location": "[parameters('location')]",
            "dependsOn": [
                "[resourceId('Microsoft.Web/sites/functions', parameters('functionAppName'), 'ShowDiffFromBlob')]",
                "[resourceId('Microsoft.Web/connections', variables('connectionsAzureAdName'))]",
                "[resourceId('Microsoft.Web/connections', variables('connectionsAzureBlobName'))]",
                "[resourceId('Microsoft.Web/connections', variables('connectionSlackName'))]"
            ],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Recurrence": {
                            "recurrence": {
                                "frequency": "Day",
                                "interval": 1
                            },
                            "type": "Recurrence"
                        }
                    },
                    "actions": {
                        "Create_blob": {
                            "runAfter": {
                                "ShowDiffFromBlob": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": "@{body('Get_group_members')}",
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azureblob']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/datasets/default/files",
                                "queries": {
                                    "folderPath": "/current",
                                    "name": "azuread-users.json",
                                    "queryParametersSingleEncoded": true
                                }
                            },
                            "runtimeConfiguration": {
                                "contentTransfer": {
                                    "transferMode": "Chunked"
                                }
                            }
                        },
                        "Filter_array_added": {
                            "runAfter": {
                                "Parse_JSON": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Query",
                            "inputs": {
                                "from": "@body('Parse_JSON')?['added']",
                                "where": "@not(equals(item()?['id'], 'null'))"
                            }
                        },
                        "Filter_array_removed": {
                            "runAfter": {
                                "Join_added": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Query",
                            "inputs": {
                                "from": "@body('Parse_JSON')?['removed']",
                                "where": "@not(equals(item()?['id'], 'null'))"
                            }
                        },
                        "Get_blob_content": {
                            "runAfter": {
                                "Get_group_members": [
                                    "Succeeded"
                                ]
                            },
                            "metadata": {
                                "JTJmY3VycmVudCUyZmF6dXJlYWQtdXNlcnMuanNvbg==": "/current/azuread-users.json"
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azureblob']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/datasets/default/files/@{encodeURIComponent(encodeURIComponent('JTJmY3VycmVudCUyZmF6dXJlYWQtdXNlcnMuanNvbg=='))}/content",
                                "queries": {
                                    "inferContentType": true
                                }
                            }
                        },
                        "Get_group_members": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuread']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "[concat('/v1.0/groups/@{encodeURIComponent(', parameters('allUsersGroupId'), ')}/members')]"
                            }
                        },
                        "Join_added": {
                            "runAfter": {
                                "Filter_array_added": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Join",
                            "inputs": {
                                "from": "@body('Filter_array_added')",
                                "joinWith": ","
                            }
                        },
                        "Join_removed": {
                            "runAfter": {
                                "Filter_array_removed": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Join",
                            "inputs": {
                                "from": "@body('Filter_array_removed')",
                                "joinWith": ","
                            }
                        },
                        "Parse_JSON": {
                            "runAfter": {
                                "Create_blob": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('ShowDiffFromBlob')",
                                "schema": {
                                    "properties": {
                                        "added": {
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "removed": {
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        },
                        "Post_message": {
                            "runAfter": {
                                "Join_removed": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['slack']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/chat.postMessage",
                                "queries": {
                                    "channel": "",
                                    "text": "added: @{body('Join_added')}, removed: @{body('Join_removed')}"
                                }
                            }
                        },
                        "ShowDiffFromBlob": {
                            "runAfter": {
                                "Get_blob_content": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Function",
                            "inputs": {
                                "body": {
                                    "current": "@{body('Get_group_members')}",
                                    "prev": "@{body('Get_blob_content')}"
                                },
                                "function": {
                                    "id": "[resourceId('Microsoft.Web/sites/functions', parameters('functionAppName'), 'ShowDiffFromBlob')]"
                                }
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuread": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('connectionsAzureAdName'))]",
                                "connectionName": "azuread",
                                "id": "[concat(subscription().id,'/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azuread')]"
                            },
                            "azureblob": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('connectionsAzureBlobName'))]",
                                "connectionName": "azureblob",
                                "id": "[concat(subscription().id,'/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azureblob')]"
                            },
                            "slack": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('connectionSlackName'))]",
                                "connectionName": "slack",
                                "id": "[concat(subscription().id,'/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/slack')]"
                            }
                        }
                    }
                }
            }
        }
    ]
}