azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "location": {
            "type": "string",
            "defaultValue": "japaneast",
            "metadata": {
                "description": "Location for all resources."
            }
        },
        "functionAppName": {
            "type": "String",
            "metadata": {
                "description": "The name for the function app."
            }
        },
        "storageAccountName": {
            "type": "String",
            "metadata": {
                "description": "The name for the storage account."
            }
        },
        "logicAppName": {
            "type": "String",
            "metadata": {
                "description": "The name for the logic app."
            }
        },
        "allUsersGroupId": {
            "type": "String",
            "metadata": {
                "description": "Unique identifer of a group (Ex. '40639f36-46a6-73a6-91e2-9584b7913429')."
            }
        },
        "repoURL": {
            "type": "String",
            "defaultValue": "https://github.com/kheiakiyama/azure-ad-diff-checker.git",
            "metadata": {
                "description": "The URL for the GitHub repository that contains the project to deploy."
            }
        },
        "branch": {
            "type": "string",
            "defaultValue": "master",
            "metadata": {
                "description": "The branch of the GitHub repository to use."
            }
        }
    },
    "variables": {
        "hostingPlanName": "[parameters('functionAppName')]",
        "functionBackendStorageAccountName": "[concat(uniquestring(resourceGroup().id), 'azfunctions')]",
        "functionBackendStorageAccountId": "[concat(resourceGroup().id,'/providers/','Microsoft.Storage/storageAccounts/', variables('functionBackendStorageAccountName'))]",
        "storageAccountId": "[concat(resourceGroup().id,'/providers/','Microsoft.Storage/storageAccounts/', parameters('storageAccountName'))]",
        "functionWorkerRuntime": "node",
        "applicationInsightsName": "[parameters('functionAppName')]",
        "connectionSlackName": "slack-connection",
        "connectionsAzureAdName": "azure-ad-connection",
        "connectionsAzureBlobName": "azureblob"
    },
    "resources": [
        {
            "type": "microsoft.insights/components",
            "apiVersion": "2015-05-01",
            "name": "[variables('applicationInsightsName')]",
            "location": "[parameters('location')]",
            "kind": "web",
            "properties": {
                "Application_Type": "web",
                "Request_Source": "IbizaWebAppExtensionCreate"
            }
        },
        {
            "type": "Microsoft.Storage/storageAccounts",
            "apiVersion": "2019-04-01",
            "name": "[parameters('storageAccountName')]",
            "location": "[parameters('location')]",
            "sku": {
                "name": "Standard_LRS",
                "tier": "Standard"
            },
            "kind": "StorageV2",
            "properties": {
                "networkAcls": {
                    "bypass": "AzureServices",
                    "virtualNetworkRules": [],
                    "ipRules": [],
                    "defaultAction": "Allow"
                },
                "supportsHttpsTrafficOnly": true,
                "encryption": {
                    "services": {
                        "file": {
                            "enabled": true
                        },
                        "blob": {
                            "enabled": true
                        }
                    },
                    "keySource": "Microsoft.Storage"
                },
                "accessTier": "Hot"
            },
            "resources": [
                {
                    "name": "default/current",
                    "type": "blobServices/containers",
                    "apiVersion": "2018-07-01",
                    "dependsOn": [
                        "[parameters('storageAccountName')]"
                    ]
                }
            ]
        },
        {
            "type": "Microsoft.Storage/storageAccounts",
            "apiVersion": "2019-04-01",
            "name": "[variables('functionBackendStorageAccountName')]",
            "location": "[parameters('location')]",
            "sku": {
                "name": "Standard_LRS",
                "tier": "Standard"
            },
            "kind": "Storage",
            "properties": {
                "networkAcls": {
                    "bypass": "AzureServices",
                    "virtualNetworkRules": [],
                    "ipRules": [],
                    "defaultAction": "Allow"
                },
                "supportsHttpsTrafficOnly": true,
                "encryption": {
                    "services": {
                        "file": {
                            "enabled": true
                        },
                        "blob": {
                            "enabled": true
                        }
                    },
                    "keySource": "Microsoft.Storage"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('connectionsAzureAdName')]",
            "location": "[parameters('location')]",
            "properties": {
                "displayName": "connectionsAzureAd",
                "customParameterValues": {},
                "api": {
                    "id": "[concat(subscription().id,'/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azuread')]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('connectionsAzureBlobName')]",
            "location": "[parameters('location')]",
            "properties": {
                "displayName": "connectionsAzureBlob",
                "customParameterValues": {},
                "api": {
                    "id": "[concat(subscription().id,'/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/', variables('connectionsAzureBlobName'))]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('connectionSlackName')]",
            "location": "[parameters('location')]",
            "properties": {
                "displayName": "connectionSlack",
                "customParameterValues": {},
                "api": {
                    "id": "[concat(subscription().id,'/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/', variables('connectionSlackName'))]"
                }
            }
        },
        {
            "type": "Microsoft.Web/serverfarms",
            "apiVersion": "2018-02-01",
            "name": "[variables('hostingPlanName')]",
            "location": "Japan East",
            "sku": {
                "name": "Y1",
                "tier": "Dynamic"
            },
            "kind": "functionapp",
            "properties": {
                "name": "[variables('hostingPlanName')]",
                "computeMode": "Dynamic"
            }
        },
        {
            "type": "Microsoft.Web/sites",
            "apiVersion": "2018-11-01",
            "name": "[parameters('functionAppName')]",
            "location": "Japan East",
            "dependsOn": [
                "[resourceId('Microsoft.Web/serverfarms', variables('hostingPlanName'))]"
            ],
            "kind": "functionapp",
            "properties": {                
                "serverFarmId": "[resourceId('Microsoft.Web/serverfarms', variables('hostingPlanName'))]",
                "siteConfig": {
                    "appSettings": [                        
                        {
                            "name": "APPINSIGHTS_INSTRUMENTATIONKEY",
                            "value": "[reference(resourceId('microsoft.insights/components/', variables('applicationInsightsName')), '2015-05-01').InstrumentationKey]"
                        },
                        {
                            "name": "AzureWebJobsStorage",
                            "value": "[concat('DefaultEndpointsProtocol=https;AccountName=', variables('functionBackendStorageAccountName'), ';AccountKey=', listKeys(variables('functionBackendStorageAccountId'),'2015-05-01-preview').key1)]"
                        },
                        {
                            "name": "AZURE_AD_META_BLOB_CONNECTION_STRING",
                            "value": "[concat('DefaultEndpointsProtocol=https;AccountName=', parameters('storageAccountName'), ';AccountKey=', listKeys(variables('storageAccountId'),'2015-05-01-preview').key1)]"
                        },
                        {
                            "name": "AZURE_AD_META_BLOB_PATH",
                            "value": "[concat('https://', toLower(parameters('storageAccountName')), '.blob.core.windows.net/current/azuread-users.json')]"
                        },
                        {
                            "name": "FUNCTIONS_EXTENSION_VERSION",
                            "value": "~2"
                        },
                        {
                            "name": "FUNCTIONS_WORKER_RUNTIME",
                            "value": "[variables('functionWorkerRuntime')]"
                        },
                        {
                            "name": "WEBSITE_CONTENTAZUREFILECONNECTIONSTRING",
                            "value": "[concat('DefaultEndpointsProtocol=https;AccountName=', variables('functionBackendStorageAccountName'), ';AccountKey=', listKeys(variables('functionBackendStorageAccountId'),'2015-05-01-preview').key1)]"
                        },
                        {
                            "name": "WEBSITE_CONTENTSHARE",
                            "value": "[toLower(parameters('functionAppName'))]"
                        },
                        {
                            "name": "WEBSITE_NODE_DEFAULT_VERSION",
                            "value": "~10"
                        }
                    ]
                }
            },
            "resources": [
                {
                    "apiVersion": "2018-11-01",
                    "name": "web",
                    "type": "sourcecontrols",
                    "dependsOn": [
                        "[resourceId('Microsoft.Web/Sites', parameters('functionAppName'))]"
                    ],
                    "properties": {
                        "RepoUrl": "[parameters('repoURL')]",
                        "branch": "[parameters('branch')]",
                        "IsManualIntegration": true
                    }
                }
            ]
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('logicAppName')]",
            "location": "[parameters('location')]",
            "dependsOn": [
                "[resourceId('Microsoft.Web/sites/functions', parameters('functionAppName'), 'ShowDiffFromBlob')]",
                "[resourceId('Microsoft.Web/connections', variables('connectionsAzureAdName'))]",
                "[resourceId('Microsoft.Web/connections', variables('connectionsAzureBlobName'))]",
                "[resourceId('Microsoft.Web/connections', variables('connectionSlackName'))]"
            ],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Recurrence": {
                            "recurrence": {
                                "frequency": "Day",
                                "interval": 1
                            },
                            "type": "Recurrence"
                        }
                    },
                    "actions": {
                        "Create_blob": {
                            "runAfter": {
                                "ShowDiffFromBlob": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": "@{body('Get_group_members')}",
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azureblob']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/datasets/default/files",
                                "queries": {
                                    "folderPath": "/current",
                                    "name": "azuread-users.json",
                                    "queryParametersSingleEncoded": true
                                }
                            },
                            "runtimeConfiguration": {
                                "contentTransfer": {
                                    "transferMode": "Chunked"
                                }
                            }
                        },
                        "Filter_array_added": {
                            "runAfter": {
                                "Parse_JSON": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Query",
                            "inputs": {
                                "from": "@body('Parse_JSON')?['added']",
                                "where": "@not(equals(item()?['id'], 'null'))"
                            }
                        },
                        "Filter_array_removed": {
                            "runAfter": {
                                "Join_added": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Query",
                            "inputs": {
                                "from": "@body('Parse_JSON')?['removed']",
                                "where": "@not(equals(item()?['id'], 'null'))"
                            }
                        },
                        "Get_blob_content": {
                            "runAfter": {
                                "Get_group_members": [
                                    "Succeeded"
                                ]
                            },
                            "metadata": {
                                "JTJmY3VycmVudCUyZmF6dXJlYWQtdXNlcnMuanNvbg==": "/current/azuread-users.json"
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azureblob']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/datasets/default/files/@{encodeURIComponent(encodeURIComponent('JTJmY3VycmVudCUyZmF6dXJlYWQtdXNlcnMuanNvbg=='))}/content",
                                "queries": {
                                    "inferContentType": true
                                }
                            }
                        },
                        "Get_group_members": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuread']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "[concat('/v1.0/groups/@{encodeURIComponent(', parameters('allUsersGroupId'), ')}/members')]"
                            }
                        },
                        "Join_added": {
                            "runAfter": {
                                "Filter_array_added": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Join",
                            "inputs": {
                                "from": "@body('Filter_array_added')",
                                "joinWith": ","
                            }
                        },
                        "Join_removed": {
                            "runAfter": {
                                "Filter_array_removed": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Join",
                            "inputs": {
                                "from": "@body('Filter_array_removed')",
                                "joinWith": ","
                            }
                        },
                        "Parse_JSON": {
                            "runAfter": {
                                "Create_blob": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('ShowDiffFromBlob')",
                                "schema": {
                                    "properties": {
                                        "added": {
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "removed": {
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        },
                        "Post_message": {
                            "runAfter": {
                                "Join_removed": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['slack']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/chat.postMessage",
                                "queries": {
                                    "channel": "C6JKTF69J",
                                    "text": "added: @{body('Join_added')}, removed: @{body('Join_removed')}"
                                }
                            }
                        },
                        "ShowDiffFromBlob": {
                            "runAfter": {
                                "Get_blob_content": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Function",
                            "inputs": {
                                "body": {
                                    "current": "@{body('Get_group_members')}",
                                    "prev": "@{body('Get_blob_content')}"
                                },
                                "function": {
                                    "id": "[resourceId('Microsoft.Web/sites/functions', parameters('functionAppName'), 'ShowDiffFromBlob')]"
                                }
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuread": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('connectionsAzureAdName'))]",
                                "connectionName": "azuread",
                                "id": "[concat(subscription().id,'/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azuread')]"
                            },
                            "azureblob": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('connectionsAzureBlobName'))]",
                                "connectionName": "azureblob",
                                "id": "[concat(subscription().id,'/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azureblob')]"
                            },
                            "slack": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('connectionSlackName'))]",
                                "connectionName": "slack",
                                "id": "[concat(subscription().id,'/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/slack')]"
                            }
                        }
                    }
                }
            }
        }
    ]
}